body {
    background: url('background.png');
    margin: 0;
    padding: 0;
}

h1{
    background-color: #00A4CCFF;
    text-align: center;
    color: aliceblue;
    font-size: 2em;
    border-radius: 4px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 2px;
}

h2{
    margin-top: 0;
    margin-bottom: 1px;
    color: #F95700FF;
    text-align: left;
    font-size: 1.5em;
}

.info{
    padding: 10px;
}

.column_articles{
    display: flex;
    flex-direction: row;
}
.divider{flex:1}

.chapter {
    display: flex;
    flex-direction: column;
}

section{flex: 8}

.section{
    border-radius: 4px;
    border: 2px solid #ccc;
    display: flex;
    flex-direction: column;
    margin: 0 2px 2px;
}

.tab{
    margin-left: 1em;
}

p{
    margin-top: 0;
    margin-bottom: 0;
}

.collapsible {
    background-color: #b4e7ff;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    border: none;
    text-align: left;
    font-size: 15px;
}

.collapsible:hover {
    background-color: aliceblue;
}

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 5px 18px;
    display: none;
    overflow: hidden;
    background-color: aliceblue;
}

ul {
    margin: 0;
}
